body {
    font-family: Arial, sans-serif;
    background: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 28px;
  text-align: center;
}

header nav ul{
    list-style: none;
    padding: 0;
}

section {
    padding: 2em;
}
h2 {
  color: #333;
}
ul {
  line-height: 1.6;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}
form {
  margin-top: 1em;
}
label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
input, textarea {
  padding: 0.5em;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
body{
   background-color:red;
}